<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.resource.mapper.DomainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.resource.entity.Domain">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="name_" property="name" />
        <result column="english_name" property="englishName" />
        <result column="description_" property="description" />
        <result column="sort_no" property="sortNo" />
        <result column="station_group_id" property="stationGroupId" />
        <result column="port_" property="port" />
    </resultMap>
    <resultMap id="DomainVoResultMap" type="com.deyatech.resource.vo.DomainVo">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="name_" property="name" />
        <result column="english_name" property="englishName" />
        <result column="description_" property="description" />
        <result column="sort_no" property="sortNo" />
        <result column="port_" property="port" />
        <result column="station_group_id" property="stationGroupId" />
        <result column="station_group_name" property="stationGroupName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        enable_,
        remark_,
        create_by,
        create_time,
        update_by,
        update_time,
        version_,
        name_, english_name, description_, sort_no, station_group_id, port_
    </sql>

    <!--根据条件翻页查询域名-->
    <select id="pageSelectByDomainVo" resultMap="DomainVoResultMap">
        select
        d.id_,
        d.enable_,
        d.remark_,
        d.create_by,
        d.create_time,
        d.update_by,
        d.update_time,
        d.version_,
        d.name_,
        d.english_name,
        d.port_,
        d.description_,
        d.sort_no,
        d.station_group_id,
        s.name_ as station_group_name
        from resource_domain d
             join resource_station_group s on s.enable_ != -1 and d.station_group_id = s.id_
        where d.enable_ != -1
        <if test="domainVo != null">
            <if test="domainVo.stationGroupId != null and domainVo.stationGroupId !=''">
                and d.station_group_id = #{domainVo.stationGroupId}
            </if>
            <if test="domainVo.name != null and domainVo.name !=''">
                and (d.name_ like concat('%',#{domainVo.name},'%') or d.english_name like concat('%',#{domainVo.name},'%'))
            </if>
        </if>
    </select>

    <!--根据条件查询所有域名-->
    <select id="listSelectByDomainVo" resultMap="DomainVoResultMap">
        select
        d.id_,
        d.enable_,
        d.remark_,
        d.create_by,
        d.create_time,
        d.update_by,
        d.update_time,
        d.version_,
        d.name_,
        d.english_name,
        d.port_,
        d.description_,
        d.sort_no,
        d.station_group_id,
        s.name_ as station_group_name
        from resource_domain d
        join resource_station_group s on s.enable_ != -1 and d.station_group_id = s.id_
        where d.enable_ != -1
        <if test="domainVo != null">
            <if test="domainVo.stationGroupId != null and domainVo.stationGroupId !=''">
                and d.station_group_id = #{domainVo.stationGroupId}
            </if>
            <if test="domainVo.name != null and domainVo.name !=''">
                and (d.name_ like concat('%',#{domainVo.name},'%') or d.english_name like concat('%',#{domainVo.name},'%'))
            </if>
        </if>
    </select>

    <!--统计域名件数-->
    <select id="countName" resultType="java.lang.Long">
        select count(*) from resource_domain
        where enable_ != -1 and name_ = #{name}
        <if test="id != null and id != ''">
            and id_ != #{id}
        </if>
    </select>

    <!--统计英文件数-->
    <select id="countEnglishName" resultType="java.lang.Long">
        select count(*) from resource_domain
        where enable_ != -1 and english_name = #{englishName}
        <if test="id != null and id != ''">
            and id_ != #{id}
        </if>
    </select>

    <!--修改状态根据编号-->
    <update id="updateEnableById">
        update resource_domain set enable_ = #{enable} where id_ = #{id}
    </update>

    <update id="updateEnableByIds">
        update resource_domain set enable_ = #{enable} where id_ in
        <foreach index="index" item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--修改状态根据站群编号-->
    <update id="updateEnableByStationGroupId">
        update resource_domain set enable_ = #{enable} where station_group_id = #{stationGroupId}
    </update>


    <!--根据编号检索域名-->
    <select id="getDomainById" resultMap="BaseResultMap">
        select id_,name_,english_name,description_,sort_no,station_group_id,port_,enable_,remark_,create_by,create_time,update_by,update_time,version_
        from resource_domain
        where id_ = #{id} and enable_ != -1
    </select>

    <!--统计站群下的域名-->
    <select id="countDomainByStationGroupId" resultType="java.lang.Long">
        select count(*) from resource_domain where enable_ != -1 and station_group_id = #{stationGroupId}
    </select>

    <!--更新域名-->
    <update id="updateDomainById" parameterType="com.deyatech.resource.entity.Domain">
        update resource_domain set
        name_ = #{name},
        english_name = #{englishName},
        description_ = #{description},
        sort_no = #{sortNo},
        station_group_id = #{stationGroupId},
        port_ = #{port},
        remark_ = #{remark},
        update_by = #{updateBy},
        update_time = sysdate(),
        version_ = #{version} + 1
        where enable_ != -1 and id_ = #{id} and version_ = #{version}
    </update>

    <!--根据编号检索域名-->
    <select id="selectDomainByIds" resultMap="DomainVoResultMap">
        select
        d.id_,
        d.enable_,
        d.remark_,
        d.create_by,
        d.create_time,
        d.update_by,
        d.update_time,
        d.version_,
        d.name_,
        d.english_name,
        d.port_,
        d.description_,
        d.sort_no,
        d.station_group_id
        from resource_domain d
        where d.enable_ != -1 and d.id_ in
        <foreach index="index" item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!--检索站群根据站群编号检索-->
    <select id="selectDomainByStationGroupId" resultType="com.deyatech.resource.vo.DomainVo">
        select
        d.id_,
        d.enable_,
        d.remark_,
        d.create_by,
        d.create_time,
        d.update_by,
        d.update_time,
        d.version_,
        d.name_,
        d.english_name,
        d.port_,
        d.description_,
        d.sort_no,
        d.station_group_id
        from resource_domain d
        where d.enable_ != -1 and d.station_group_id = #{stationGroupId}
    </select>
</mapper>
