<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.resource.mapper.StationGroupRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.resource.entity.StationGroupRole">
        <result column="id_" property="id" />
        <result column="station_group_id" property="stationGroupId" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        station_group_id, role_id
    </sql>
    <!--站关联的用户-->
    <select id="pageStationAssociationUser" resultType="com.deyatech.admin.vo.UserVo">
        SELECT
        distinct
        au.id_ AS id,
        au.enable_ AS enable,
        au.remark_ AS remark,
        au.create_by AS createBy,
        au.create_time AS createTime,
        au.update_by AS updateBy,
        au.update_time AS updateTime,
        au.version_ AS version,
        au.department_id AS departmentId,
        au.name_ AS name,
        au.gender_ AS gender,
        au.phone_ AS phone,
        au.avatar_ AS avatar,
        au.emp_no AS empNo,

        ad.name_ AS departmentName,
        ad.tree_position AS departmentTreePosition
        FROM admin_user au
        LEFT JOIN admin_department ad ON au.department_id = ad.id_
        JOIN admin_role_user ru on ru.user_id = au.id_
        JOIN admin_role r on ru.role_id = r.id_ and r.enable_ = 1
        JOIN resource_station_group_role sr on sr.role_id = r.id_
        WHERE au.enable_ != -1 and sr.station_group_id = #{siteId}
        <if test="user != null">
            <if test="user.enable != null">
                AND au.enable_ = #{user.enable}
            </if>
            <if test="user.name != null and user.name != ''">
                and (au.name_ like concat('%', #{user.name}, '%') or au.account_ like concat('%', #{user.name}, '%'))
            </if>
            <if test="user.departmentId != null and user.departmentId != ''">
                and au.department_id = #{user.departmentId}
            </if>
        </if>
        order by au.update_time desc
    </select>


    <select id="pageByStationGroupRoleVo" resultType="com.deyatech.resource.vo.StationGroupRoleVo" parameterType="com.deyatech.resource.vo.StationGroupRoleVo">
        SELECT
        max(sgr.id_) AS id,
        ar.id_ AS roleId,
        ar.name_ AS name
        FROM admin_role ar
        LEFT JOIN resource_station_group_role sgr ON ar.id_ = sgr.role_id
        WHERE ar.enable_ = 1
        <if test="stationGroupRoleVo != null">
            <if test="stationGroupRoleVo.name != null and stationGroupRoleVo.name != ''">
                and ar.name_ like concat('%', #{stationGroupRoleVo.name}, '%')
            </if>
            <if test="stationGroupRoleVo.stationGroupId != null and stationGroupRoleVo.stationGroupId != ''">
                and sgr.station_group_id = #{stationGroupRoleVo.stationGroupId}
            </if>
        </if>
        group by ar.id_
        order by ar.update_time desc
    </select>

</mapper>
