<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.resource.mapper.StationGroupUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.resource.entity.StationGroupUser">
        <result column="id_" property="id" />
        <result column="station_group_id" property="stationGroupId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        station_group_id, user_id
    </sql>

    <!--所有用户信息-->
    <select id="pageByStationGroupUserVo" resultType="com.deyatech.resource.vo.StationGroupUserVo">
        SELECT
        au.id_ AS id,
        au.id_ AS userId,
        au.name_ AS name,
        au.gender_ AS gender,
        au.account_ AS account,
        ad.id_ AS departmentId,
        ad.name_ AS departmentName
        FROM admin_user au
        <if test="stationGroupUserVo != null">
            <if test="stationGroupUserVo.stationGroupId != null and stationGroupUserVo.stationGroupId != ''">
                JOIN resource_station_group_user asgu ON au.id_ = asgu.user_id
            </if>
        </if>
        LEFT JOIN admin_department ad ON au.department_id = ad.id_
        WHERE au.enable_ = 1
        <if test="stationGroupUserVo != null">
            <if test="stationGroupUserVo.name != null and stationGroupUserVo.name != ''">
                and (au.name_ like concat('%', #{stationGroupUserVo.name}, '%') or au.account_ like concat('%', #{stationGroupUserVo.name}, '%'))
            </if>
            <if test="stationGroupUserVo.departmentId != null and stationGroupUserVo.departmentId != ''">
                and au.department_id = #{stationGroupUserVo.departmentId}
            </if>
            <if test="stationGroupUserVo.stationGroupId != null and stationGroupUserVo.stationGroupId != ''">
                and asgu.station_group_id = #{stationGroupUserVo.stationGroupId}
            </if>
        </if>
        order by au.update_time desc
    </select>

    <!--删除站点用户关联根据站点编号-->
    <update id="removeByStationGroupId">
        delete from resource_station_group_user where station_group_id in
        <foreach index="index" item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>
