<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.resource.mapper.StationGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.resource.entity.StationGroup">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="name_" property="name" />
        <result column="english_name" property="englishName" />
        <result column="abbreviation_" property="abbreviation" />
        <result column="description_" property="description" />
        <result column="sort_no" property="sortNo" />
        <result column="station_group_classification_id" property="stationGroupClassificationId" />
        <result column="department_id" property="departmentId" />
        <result column="site_code" property="siteCode" />
        <result column="icp_code" property="icpCode" />
        <result column="police_code" property="policeCode" />
    </resultMap>

    <resultMap id="StationGroupVoResultMap" type="com.deyatech.resource.vo.StationGroupVo">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="name_" property="name" />
        <result column="english_name" property="englishName" />
        <result column="abbreviation_" property="abbreviation" />
        <result column="description_" property="description" />
        <result column="sort_no" property="sortNo" />
        <result column="station_group_classification_id" property="stationGroupClassificationId" />
        <result column="station_group_classification_name" property="stationGroupClassificationName" />
        <result column="station_group_classification_tree_position" property="stationGroupClassificationTreePosition" />
        <result column="department_id" property="departmentId" />
        <result column="department_name" property="departmentName" />
        <result column="department_tree_position" property="departmentTreePosition" />
        <result column="site_code" property="siteCode" />
        <result column="icp_code" property="icpCode" />
        <result column="police_code" property="policeCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        enable_,
        remark_,
        create_by,
        create_time,
        update_by,
        update_time,
        version_,
        name_, english_name, abbreviation_, description_, sort_no, station_group_classification_id, department_id, site_code, icp_code, police_code
    </sql>

    <!--根据分类编号统计站点个数-->
    <select id="countStationGroupByClassificationId" resultType="java.lang.Long">
        select count(*) from resource_station_group where enable_ != -1 and station_group_classification_id = #{classificationId}
    </select>

    <!--根据分类编号列表统计站点个数-->
    <select id="countStationGroupByClassificationIdList" resultType="java.lang.Long">
        select count(*) from resource_station_group where enable_ != -1 and station_group_classification_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!--根据条件查询站点-->
    <select id="pageSelectByStationGroupVo" resultMap="StationGroupVoResultMap">
        select
        s.id_,
        s.enable_,
        s.remark_,
        s.create_by,
        s.create_time,
        s.update_by,
        s.update_time,
        s.version_,
        s.name_,
        s.english_name,
        s.abbreviation_,
        s.description_,
        s.sort_no,
        s.station_group_classification_id,
        s.department_id,
        s.site_code,
        s.icp_code,
        s.police_code,
        c.name_ as station_group_classification_name,
        c.tree_position as station_group_classification_tree_position,
        d.name_ as department_name,
        d.tree_position as department_tree_position
        from resource_station_group s
             join resource_station_group_classification c on c.enable_ = 1 and s.station_group_classification_id = c.id_
             join admin_department d on d.enable_ = 1 and s.department_id = d.id_
        where s.enable_ != -1
        <if test="stationGroupVo != null">
            <if test="stationGroupVo.stationGroupClassificationId != null and stationGroupVo.stationGroupClassificationId !=''">
            and s.station_group_classification_id = #{stationGroupVo.stationGroupClassificationId}
            </if>
            <if test="stationGroupVo.departmentId != null and stationGroupVo.departmentId !=''">
                and s.department_id = #{stationGroupVo.departmentId}
            </if>
            <if test="stationGroupVo.name != null and stationGroupVo.name !=''">
            and ( s.name_ like concat('%',#{stationGroupVo.name},'%') or s.english_name like concat('%',#{stationGroupVo.name},'%') or s.abbreviation_ like concat('%',#{stationGroupVo.name},'%') )
            </if>
        </if>
        order by s.sort_no asc, s.update_time desc
    </select>

    <!--根据条件查询所有站点-->
    <select id="listSelectByStationGroupVo" resultMap="StationGroupVoResultMap">
        select
        s.id_,
        s.enable_,
        s.remark_,
        s.create_by,
        s.create_time,
        s.update_by,
        s.update_time,
        s.version_,
        s.name_,
        s.english_name,
        s.abbreviation_,
        s.description_,
        s.sort_no,
        s.station_group_classification_id,
        s.department_id,
        s.site_code,
        s.icp_code,
        s.police_code,
        c.name_ as station_group_classification_name,
        c.tree_position as station_group_classification_tree_position,
        d.name_ as department_name,
        d.tree_position as department_tree_position
        from resource_station_group s
             join resource_station_group_classification c on c.enable_ = 1 and s.station_group_classification_id = c.id_
             join admin_department d on d.enable_ = 1 and s.department_id = d.id_
        where s.enable_ != -1
        <if test="stationGroupVo != null">
            <if test="stationGroupVo.stationGroupClassificationId != null and stationGroupVo.stationGroupClassificationId !=''">
                and s.station_group_classification_id = #{stationGroupVo.stationGroupClassificationId}
            </if>
            <if test="stationGroupVo.departmentId != null and stationGroupVo.departmentId !=''">
                and s.department_id = #{stationGroupVo.departmentId}
            </if>
            <if test="stationGroupVo.name != null and stationGroupVo.name !=''">
                and ( s.name_ like concat('%',#{stationGroupVo.name},'%') or s.english_name like concat('%',#{stationGroupVo.name},'%') or s.abbreviation_ like concat('%',#{stationGroupVo.name},'%') )
            </if>
        </if>
        order by s.sort_no asc, s.update_time desc
    </select>

    <!--统计名称件数-->
    <select id="countName" resultType="java.lang.Long">
        select count(*) from resource_station_group
        where enable_ != -1 and name_ = #{name}
        <if test="id != null and id != ''">
            and id_ != #{id}
        </if>
    </select>

    <!--统计英文名称件数-->
    <select id="countEnglishName" resultType="java.lang.Long">
        select count(*) from resource_station_group
        where enable_ != -1 and english_name = #{englishName}
        <if test="id != null and id != ''">
            and id_ != #{id}
        </if>
    </select>

    <!--统计简称件数-->
    <select id="countAbbreviation" resultType="java.lang.Long">
        select count(*) from resource_station_group
        where enable_ != -1 and abbreviation_ = #{abbreviation}
        <if test="id != null and id != ''">
            and id_ != #{id}
        </if>
    </select>

    <!--修改状态根据编号-->
    <update id="updateEnableById">
        update resource_station_group set enable_ = #{enable} where id_ = #{id}
    </update>
    <update id="updateEnableByIds">
        update resource_station_group set enable_ = #{enable} where id_ in
        <foreach index="index" item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--根据编号检索站点-->
    <select id="getStationGroupById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from resource_station_group
        where id_ = #{id} and enable_ != -1
    </select>
    <!--检索站点根据编号-->
    <select id="selectStationGroupByIds" resultMap="StationGroupVoResultMap">
        select
        s.id_,
        s.enable_,
        s.remark_,
        s.create_by,
        s.create_time,
        s.update_by,
        s.update_time,
        s.version_,
        s.name_,
        s.english_name,
        s.abbreviation_,
        s.description_,
        s.sort_no,
        s.station_group_classification_id,
        s.department_id,
        s.site_code,
        s.icp_code,
        s.police_code
        from resource_station_group s
        where s.enable_ != -1 and s.id_ in
        <foreach index="index" item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--更新站点-->
    <update id="updateStationGroupById" parameterType="com.deyatech.resource.entity.StationGroup">
        update resource_station_group set
        name_ = #{name},
        english_name = #{englishName},
        abbreviation_ = #{abbreviation},
        description_ = #{description},
        sort_no = #{sortNo},
        station_group_classification_id = #{stationGroupClassificationId},
        department_id = #{departmentId},
        site_code = #{siteCode},
        icp_code = #{icpCode},
        police_code = #{policeCode},
        remark_ = #{remark},
        update_by = #{updateBy},
        update_time = sysdate(),
        version_ = #{version} + 1
        where enable_ != -1 and id_ = #{id} and version_ = #{version}
    </update>

    <select id="selectStationGroupByUserId" resultMap="StationGroupVoResultMap">
        select
        s.id_,
        s.enable_,
        s.remark_,
        s.create_by,
        s.create_time,
        s.update_by,
        s.update_time,
        s.version_,
        s.name_,
        s.english_name,
        s.abbreviation_,
        s.description_,
        s.sort_no,
        s.station_group_classification_id,
        s.department_id,
        s.site_code,
        s.icp_code,
        s.police_code,
        c.name_ as station_group_classification_name,
        c.tree_position as station_group_classification_tree_position,
        d.name_ as department_name,
        d.tree_position as department_tree_position
        from resource_station_group s
        join resource_station_group_classification c on c.enable_ = 1 and s.station_group_classification_id = c.id_
        join admin_department d on d.enable_ = 1 and s.department_id = d.id_
        where s.enable_ != -1 and s.id_ in (
          select distinct sr.station_group_id from resource_station_group_role sr
          where sr.role_id in (
            select distinct ru.role_id from admin_role_user ru join admin_role r on r.id_ = ru.role_id and r.enable_ = 1 where ru.user_id = #{userId}
          )
        )
        order by s.sort_no asc, s.update_time desc
    </select>

    <select id="selectStationGroupByRoleId" resultMap="StationGroupVoResultMap">
        select
        s.id_,
        s.enable_,
        s.remark_,
        s.create_by,
        s.create_time,
        s.update_by,
        s.update_time,
        s.version_,
        s.name_,
        s.english_name,
        s.abbreviation_,
        s.description_,
        s.sort_no,
        s.station_group_classification_id,
        s.department_id,
        s.site_code,
        s.icp_code,
        s.police_code,
        c.name_ as station_group_classification_name,
        c.tree_position as station_group_classification_tree_position,
        d.name_ as department_name,
        d.tree_position as department_tree_position
        from resource_station_group s
        join resource_station_group_classification c on c.enable_ = 1 and s.station_group_classification_id = c.id_
        join admin_department d on d.enable_ = 1 and s.department_id = d.id_
        where s.enable_ != -1 and s.id_ in (
          select distinct sr.station_group_id
          from resource_station_group_role sr
          join admin_role r on r.id_ = sr.role_id and r.enable_ = 1
          where sr.role_id = #{roleId}
        )
        order by s.sort_no asc, s.update_time desc
    </select>
</mapper>
