<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.appeal.mapper.ModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.appeal.entity.Model">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="model_name" property="modelName" />
        <result column="participant" property="participant" />
        <result column="auto_publish" property="autoPublish" />
        <result column="limit_day" property="limitDay" />
        <result column="reminder_day" property="reminderDay" />
        <result column="yellow_day" property="yellowDay" />
        <result column="red_day" property="redDay" />
        <result column="bus_type" property="busType" />
        <result column="dept_transfer" property="deptTransfer" />
        <result column="competent_dept" property="competentDept" />
        <result column="part_dept" property="partDept" />
        <result column="bus_code" property="busCode" />
        <result column="spacera" property="spacera" />
        <result column="day_code" property="dayCode" />
        <result column="spacerb" property="spacerb" />
        <result column="randomcode_count" property="randomcodeCount" />
        <result column="querycode_count" property="querycodeCount" />
        <result column="workflow_type" property="workflowType" />
        <result column="workflow_id" property="workflowId" />
        <result column="form_templet" property="formTemplet" />
        <result column="list_templet" property="listTemplet" />
        <result column="view_templet" property="viewTemplet" />
        <result column="print_templet" property="printTemplet" />
        <result column="site_id" property="siteId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        enable_,
        remark_,
        create_by,
        create_time,
        update_by,
        update_time,
        version_,
        site_id,model_name, participant, auto_publish, limit_day, reminder_day, yellow_day, red_day, bus_type, dept_transfer, competent_dept, part_dept, bus_code, spacera, day_code, spacerb, randomcode_count, querycode_count, workflow_type, workflow_id, form_templet, list_templet, view_templet, print_templet
    </sql>
    <select id="countModelByDepartmentId" resultType="java.lang.Long">
        select count(0) from appeal_model where competent_dept like #{departmentId} or part_dept like #{departmentId}
    </select>
    <select id="pageByModel" resultType="com.deyatech.appeal.vo.ModelVo">
        select * from appeal_model where enable_ = 1
        <if test="model != null">
            <if test="model.modelName != null and model.modelName != ''">
                and ( model_name like concat('%', #{model.modelName}, '%') or limit_day like concat('%', #{model.modelName}, '%') )
            </if>
            <if test="model.autoPublish != null">
                and auto_publish = #{model.autoPublish}
            </if>
            <if test="model.busType != null">
                and bus_type = #{model.busType}
            </if>
            <if test="model.deptTransfer != null">
                and dept_transfer = #{model.deptTransfer}
            </if>
        </if>
    </select>


</mapper>
