<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.apply.mapper.OpenRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.apply.entity.OpenRecord">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="model_id" property="modelId" />
        <result column="ysq_code" property="ysqCode" />
        <result column="query_code" property="queryCode" />
        <result column="ysq_type" property="ysqType" />
        <result column="name" property="name" />
        <result column="company" property="company" />
        <result column="card_name" property="cardName" />
        <result column="card_code" property="cardCode" />
        <result column="org_code" property="orgCode" />
        <result column="licence" property="licence" />
        <result column="legalperson" property="legalperson" />
        <result column="linkman" property="linkman" />
        <result column="tel" property="tel" />
        <result column="fax" property="fax" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="address" property="address" />
        <result column="postcode" property="postcode" />
        <result column="content" property="content" />
        <result column="description" property="description" />
        <result column="is_derate" property="isDerate" />
        <result column="get_method" property="getMethod" />
        <result column="is_other" property="isOther" />
        <result column="is_publish" property="isPublish" />
        <result column="flag" property="flag" />
        <result column="reply_content" property="replyContent" />
        <result column="reply_time" property="replyTime" />
        <result column="reply_dept_id" property="replyDeptId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        enable_,
        remark_,
        create_by,
        create_time,
        update_by,
        update_time,
        version_,
        reply_content,reply_time,reply_dept_id,model_id,ysq_code,query_code,ysq_type, name, company, card_name, card_code, org_code, licence, legalperson, linkman, tel, fax, phone, email, address, postcode, content, description, is_derate, get_method, is_other, is_publish, flag
    </sql>
    <select id="countOpenModel" resultType="com.deyatech.apply.vo.OpenRecordVo">
        select model_id as modelId, count(0) as number from apply_open_record where enable_ = 1 group by model_id
    </select>

    <!-- 代办总数 ** 后台 -->
    <select id="getApplyCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(id_) count from apply_open_record where enable_ = 1
        <if test="map.model_id != null">
            and (model_id in
            <foreach item="item" index="index" collection="map.model_id" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="map.pro_dept_id != null">
                or pro_dept_id = #{map.pro_dept_id}
            </if>
            )
        </if>
        <if test="map.model_id == null and map.pro_dept_id != null">
            and pro_dept_id = #{map.pro_dept_id}
        </if>
        <if test="map.apply_flag != null">
            and apply_flag = #{map.apply_flag}
        </if>
        <if test="map.apply_status != null">
            and apply_status = #{map.apply_status}
        </if>
        <if test="map.is_publish != null">
            and is_publish = #{map.is_publish}
        </if>
        <if test="map.alarm_flag != null">
            and alarm_flag = #{map.alarm_flag}
        </if>
        <if test="map.supervise_flag != null">
            and supervise_flag = #{map.supervise_flag}
        </if>
    </select>

</mapper>
