<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.station.mapper.CatalogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.station.entity.Catalog">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="site_id" property="siteId" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="alias_name" property="aliasName" />
        <result column="ename" property="ename" />
        <result column="showable" property="showable" />
        <result column="link_url" property="linkUrl" />
        <result column="workflow_id" property="workflowId" />
        <result column="workflow_key" property="workflowKey" />
        <result column="index_template" property="indexTemplate" />
        <result column="list_template" property="listTemplate" />
        <result column="sort_no" property="sortNo" />
        <result column="tree_position" property="treePosition" />
        <result column="status" property="status" />
        <result column="allow_comment" property="allowComment" />
        <result column="allow_share" property="allowShare" />
        <result column="allow_hidden" property="allowHidden" />
        <result column="application_id" property="applicationId" />
        <result column="attribute_id" property="attributeId" />
        <result column="auto_release" property="autoRelease" />
        <result column="contect_object_id" property="contectObjectId" />
        <result column="generate_home" property="generateHome" />
        <result column="navigation_show_able" property="navigationShowAble" />
        <result column="participant" property="participant" />
        <result column="tree_show_able" property="treeShowAble" />
        <result column="workflow_enable" property="workflowEnable" />
        <result column="path_name" property="pathName" />
        <result column="content_model_id" property="contentModelId" />
        <result column="place_on_file" property="placeOnFile" />
        <result column="flag_external" property="flagExternal" />
        <result column="flag_aggregation" property="flagAggregation" />
        <result column="aggregation_id" property="aggregationId" />
        <result column="column_name" property="columnName" />
        <result column="column_description" property="columnDescription" />
        <result column="column_keywords" property="columnKeywords" />
        <result column="column_type" property="columnType" />
    </resultMap>
    <resultMap id="BaseResultVoMap" type="com.deyatech.station.vo.CatalogVo">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="site_id" property="siteId" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="alias_name" property="aliasName" />
        <result column="ename" property="ename" />
        <result column="showable" property="showable" />
        <result column="link_url" property="linkUrl" />
        <result column="workflow_id" property="workflowId" />
        <result column="workflow_key" property="workflowKey" />
        <result column="index_template" property="indexTemplate" />
        <result column="list_template" property="listTemplate" />
        <result column="sort_no" property="sortNo" />
        <result column="tree_position" property="treePosition" />
        <result column="status" property="status" />
        <result column="allow_comment" property="allowComment" />
        <result column="allow_share" property="allowShare" />
        <result column="allow_hidden" property="allowHidden" />
        <result column="application_id" property="applicationId" />
        <result column="attribute_id" property="attributeId" />
        <result column="auto_release" property="autoRelease" />
        <result column="contect_object_id" property="contectObjectId" />
        <result column="generate_home" property="generateHome" />
        <result column="navigation_show_able" property="navigationShowAble" />
        <result column="participant" property="participant" />
        <result column="tree_show_able" property="treeShowAble" />
        <result column="workflow_enable" property="workflowEnable" />
        <result column="path_name" property="pathName" />
        <result column="content_model_id" property="contentModelId" />
        <result column="place_on_file" property="placeOnFile" />
        <result column="flag_external" property="flagExternal" />
        <result column="flag_aggregation" property="flagAggregation" />
        <result column="aggregation_id" property="aggregationId" />
        <result column="column_name" property="columnName" />
        <result column="column_description" property="columnDescription" />
        <result column="column_keywords" property="columnKeywords" />
        <result column="column_type" property="columnType" />
        <result column="column_type_tree_position" property="columnTypeTreePosition" />
        <result column="template_count" property="templateCount" />
        <collection property="catalogAggregation" ofType="com.deyatech.station.vo.CatalogAggregationVo">
            <result column="aggregation_id" property="id"/>
            <result column="aggregation_enable" property="enable"/>
            <result column="aggregation_remark" property="remark"/>
            <result column="aggregation_create_by" property="createBy"/>
            <result column="aggregation_create_time" property="createTime"/>
            <result column="aggregation_update_by" property="updateBy"/>
            <result column="aggregation_update_time" property="updateTime"/>
            <result column="aggregation_version" property="version"/>
            <result column="aggregation_cms_catalog_id" property="cmsCatalogId"/>
            <result column="aggregation_keyword" property="keyword"/>
            <result column="aggregation_publish_organization" property="publishOrganization"/>
            <result column="aggregation_publish_time" property="publishTime"/>
            <result column="aggregation_publisher" property="publisher"/>
            <result column="aggregation_publish_organization_tree_position" property="publishOrganizationTreePosition"/>
            <result column="aggregation_publisher_name" property="publisherName"/>
        </collection>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        enable_,
        remark_,
        create_by,
        create_time,
        update_by,
        update_time,
        version_,
        site_id, parent_id, name, alias_name, ename, showable, link_url, workflow_id, workflow_key, index_template, list_template, sort_no, tree_position,
        status, allow_comment, allow_share, allow_hidden, application_id, attribute_id, auto_release, contect_object_id, generate_home, navigation_show_able,
        participant, tree_show_able, workflow_enable, path_name, content_model_id, place_on_file, flag_external, flag_aggregation, aggregation_id,
        column_name, column_description, column_keywords, column_type
    </sql>

    <select id="selectMaxSortNo" resultType="int">
        select ifnull(max(sort_no), 0) from  station_catalog
    </select>
    <!--根据站点ID检索栏目-->
    <select id="getCatalogBySiteIds" resultMap="BaseResultVoMap">
        select id_, name, parent_id
        from  station_catalog where enable_ != -1 and site_id in
        <if test="list != null and list.size > 0">
            <foreach index="index" item="item" collection="list" open="(" separator="," close=")">
             #{item}
            </foreach>
        </if>
        order by sort_no asc
    </select>

    <update id="updateAllowHiddenById">
        update station_catalog set allow_hidden = #{allowHidden} where id_ = #{id}
    </update>

    <update id="updatePlaceOnFileById">
        update station_catalog set place_on_file = #{placeOnFile} where id_ = #{id}
    </update>

    <select id="getAllCatalogWorkFlowId" resultType="java.lang.String">
        select distinct workflow_id from station_catalog where workflow_enable = 1 and workflow_id is not null and workflow_id != ''
    </select>
    <select id="getCatalogList" resultMap="BaseResultVoMap">
        select
        c.*,
        agg.*
        from station_catalog c
        left join (
        select
        sca.id_ as aggregation_id,
        sca.enable_ as aggregation_enable,
        sca.remark_ as aggregation_remark,
        sca.create_by as aggregation_create_by,
        sca.create_time as aggregation_create_time,
        sca.update_by as aggregation_update_by,
        sca.update_time as aggregation_update_time,
        sca.version_ as aggregation_version,
        sca.cms_catalog_id as aggregation_cms_catalog_id,
        sca.keyword_ as aggregation_keyword,
        sca.publish_organization as aggregation_publish_organization,
        sca.publish_time as aggregation_publish_time,
        sca.publisher as aggregation_publisher,
        ad.tree_position as aggregation_publish_organization_tree_position,
        au.name_ as aggregation_publisher_name
        from station_catalog_aggregation sca
        left join admin_department ad on sca.publish_organization = ad.id_ and ad.enable_ = 1
        left join admin_user au on sca.publisher = au.id_ and au.enable_ = 1
        where sca.enable_ = 1
        ) agg on c.aggregation_id = agg.aggregation_id
        where c.enable_ = 1 and c.site_id = #{catalog.siteId}
        <if test="catalog.parentId != null">
            and c.parent_id = #{catalog.parentId}
        </if>
        order by c.sort_no asc
    </select>
    <select id="getCountChildrenCatalog" resultType="java.util.Map">
        select parent_id as catalogId, count(*) as number
        from station_catalog
        where enable_ = 1  and parent_id != '0'
        group by parent_id
    </select>
    <select id="getUserRoleCatalogList" resultType="com.deyatech.station.vo.CatalogVo">
        select
            c.id_,
            c.parent_id,
            c.name,
            c.workflow_id,
            c.workflow_key,
            c.flag_external
        from
            station_catalog c
            join station_catalog_role cr on c.id_ = cr.catalog_id
            join admin_role_user ru on ru.role_id = cr.role_id and ru.user_id = #{userId}
            join admin_role r on r.id_ = ru.role_id and r.enable_ = 1
        where c.enable_ = 1 and c.site_id = #{catalog.siteId} and c.parent_id = #{catalog.parentId}
    </select>
    <select id="getUserCatalogList" resultType="com.deyatech.station.vo.CatalogVo">
        select
            c.id_,
            c.parent_id,
            c.name,
            c.workflow_id,
            c.workflow_key,
            c.flag_external
        from
            station_catalog c
            join station_catalog_user cu on cu.catalog_id = c.id_ and cu.user_id = #{userId}
            join admin_user u on u.id_ = cu.user_id and u.enable_ = 1
        where c.enable_ = 1 and c.site_id = #{catalog.siteId} and c.parent_id = #{catalog.parentId}
        order by c.sort_no asc
    </select>
</mapper>
