<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.station.mapper.CatalogUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.station.entity.CatalogUser">
        <result column="id_" property="id" />
        <result column="catalog_id" property="catalogId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        catalog_id, user_id
    </sql>
    <delete id="removeUserCatalogByCatalogIds">
        delete from station_catalog_user where catalog_id in
        <foreach index="index" item="item" collection="catalogIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
