<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.station.mapper.TemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.station.entity.Template">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="site_id" property="siteId" />
        <result column="template_path" property="templatePath" />
        <result column="cms_catalog_id" property="cmsCatalogId" />
        <result column="content_model_id" property="contentModelId" />
        <result column="content_id" property="contentId" />
        <result column="status_" property="status" />
        <result column="content_model_template_id" property="contentModelTemplateId" />
        <result column="url_" property="url" />
        <result column="author_" property="author" />
        <result column="editor_" property="editor" />
        <result column="source_" property="source" />
        <result column="thumbnail_" property="thumbnail" />
        <result column="title_" property="title" />
        <result column="flag_search" property="flagSearch" />
        <result column="sort_no" property="sortNo" />
        <result column="flag_top" property="flagTop" />
        <result column="views_" property="views" />
        <result column="flag_external" property="flagExternal" />
        <result column="resource_summary" property="resourceSummary" />
        <result column="resource_content" property="resourceContent" />
        <result column="resource_category" property="resourceCategory" />
        <result column="resource_publication_date" property="resourcePublicationDate" />
        <result column="keyword_" property="keyword" />
        <result column="index_code" property="indexCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        enable_,
        remark_,
        create_by,
        create_time,
        update_by,
        update_time,
        version_,
        site_id, template_path, cms_catalog_id, content_model_id, content_id, status_, content_model_template_id, url_, author_,
        editor_, source_, thumbnail_, title_, flag_search, sort_no, flag_top, views_, flag_external, resource_summary, resource_content,
        resource_category, resource_publication_date, keyword_, index_code
    </sql>

    <select id="pageByTemplate" parameterType="com.deyatech.station.entity.Template" resultType="com.deyatech.station.vo.TemplateVo">
        select
            sm.name_ as contentModelName,
            sm.meta_data_collection_id as metaDataCollectionId,
            smt.url_ as thumbnailUrl,
            auc.name_ as createUserName,
            auc.department_name as createUserDepartmentName,
            auu.name_ as updateUserName,
            auu.department_name as updateUserDepartmentName,
            sc.path_name as cmsCatalogPathName,
            st.*
        from station_template st
        left join station_catalog sc on st.cms_catalog_id = sc.id_ and sc.enable_ = 1
        left join station_model sm on st.content_model_id = sm.id_ and sm.enable_ = 1
        left join station_material smt on st.thumbnail_ = smt.id_ and smt.enable_ = 1
        left join (
            select
            au.id_,
            au.name_,
            ad.id_ as department_id,
            ad.name_ as department_name
            from
            admin_user au
            left join admin_department ad on au.department_id = ad.id_ and ad.enable_ = 1
            where au.enable_ = 1
        ) auc on auc.id_ = st.create_by
        left join (
            select
            au.id_,
            au.name_,
            ad.id_ as department_id,
            ad.name_ as department_name
            from
            admin_user au
            left join admin_department ad on au.department_id = ad.id_ and ad.enable_ = 1
            where au.enable_ = 1
        ) auu on auu.id_ = st.update_by
        where st.enable_ = 1
        <if test="template.title != null">
            and (
                st.title_ like concat('%', #{template.title}, '%') or
                st.author_ like concat('%', #{template.title}, '%') or
                st.source_ like concat('%', #{template.title}, '%') or
                st.sort_no like concat('%', #{template.title}, '%') or
                DATE_FORMAT(st.resource_publication_date, '%Y-%m-%d %H:%i') like concat('%', #{template.title}, '%')
             )
        </if>
        <if test="template.siteId != null">
            and st.site_id = #{template.siteId}
        </if>
        <if test="template.status != null">
            and st.status_ = #{template.status}
        </if>
        <if test="catalogIdList != null and catalogIdList.size > 0">
            and st.cms_catalog_id in
            <foreach item="item" index="index" collection="catalogIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="userIdList != null and userIdList.size > 0">
            and st.create_by in
            <foreach item="item" index="index" collection="userIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by st.update_time desc
    </select>



    <select id="queryTemplateById" parameterType="java.lang.String"
            resultType="com.deyatech.station.vo.TemplateVo">
        select st.*, sm.name_ as contentModelName, sm.meta_data_collection_id as metaDataCollectionId,
        smt.url_ as thumbnailUrl
        from station_template st
        left join station_model sm on st.content_model_id = sm.id_
        left join station_material smt on st.thumbnail_ = smt.id_
        where st.enable_ = 1 and st.id_ = #{id}
        order by st.update_time desc
    </select>




    <select id="getTemplateListView" parameterType="map"
            resultType="com.deyatech.station.vo.TemplateVo">
        select
            st.*,
            sc.`name` as cmsCatalogName,
            sm.name_ as contentModelName,
            sm.meta_data_collection_id as metaDataCollectionId
        from station_template st
        left join station_model sm on st.content_model_id = sm.id_
        left join station_catalog sc on st.cms_catalog_id = sc.id_
        where st.enable_ = 1 and st.status_ = 2
        <if test="map.startTime != null and map.endTime != null  ">
            and st.resource_publication_date between #{map.startTime} and #{map.endTime}
        </if>
        <if test="map.title != null">
            and (st.title_ like concat('%', #{map.title}, '%') or st.keyword_ like concat('%', #{map.title}, '%'))
        </if>
        <if test="map.siteId != null">
            and st.site_id = #{map.siteId}
        </if>
        <if test="map.cmsCatalogId != null">
            and st.cms_catalog_id in
            <foreach collection="map.cmsCatalogId" index="index" item="id" separator="," close=")" open="(">
                #{id}
            </foreach>
        </if>
        <if test="map.id != null">
            and st.id_ in
            <foreach collection="map.id" index="index" item="id" separator="," close=")" open="(">
                #{id}
            </foreach>
        </if>
        order by st.sort_no desc,st.resource_publication_date desc
    </select>

    <!--更新信息状态-->
    <update id="updateStatusByIds">
        update station_template set status_ = #{status} where id_ in
        <foreach index="index" item="item" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--更新权重-->
    <update id="updateSortNoById">
        update station_template set sort_no = #{sortNo} where id_ = #{id}
    </update>
    <!--更新置顶-->
    <update id="updateFlagTopById">
        update station_template set flag_top = #{flagTop} where id_ = #{id}
    </update>
    <select id="countCatalogTemplate" resultType="Map">
        select cms_catalog_id as catalogId, count(*) as number from station_template group by cms_catalog_id
    </select>
    <select id="pageTemplateListForRestIndexCode" resultType="com.deyatech.station.entity.Template">
        SELECT * FROM station_template
        WHERE enable_=1 AND site_id = #{siteId}
        <if test="start != null and start != '' and end != null and end != ''">
            AND DATE_FORMAT(resource_publication_date, '%Y-%m-%d') BETWEEN #{start} AND #{end}
        </if>
        ORDER BY resource_publication_date ASC
        LIMIT #{offset}, #{size}
    </select>
</mapper>
