<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.station.mapper.TemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.station.vo.TemplateVo">
        <result column="id_" property="id" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version_" property="version" />
        <result column="site_id" property="siteId" />
        <result column="template_path" property="templatePath" />
        <result column="cms_catalog_id" property="cmsCatalogId" />
        <result column="content_model_id" property="contentModelId" />
        <result column="content_id" property="contentId" />
        <result column="status_" property="status" />
        <result column="content_model_template_id" property="contentModelTemplateId" />
        <result column="url_" property="url" />
        <result column="author_" property="author" />
        <result column="editor_" property="editor" />
        <result column="source_" property="source" />
        <result column="thumbnail_" property="thumbnail" />
        <result column="title_" property="title" />
        <result column="flag_search" property="flagSearch" />
        <result column="sort_no" property="sortNo" />
        <result column="flag_top" property="flagTop" />
        <result column="views_" property="views" />
        <result column="flag_external" property="flagExternal" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        enable_,
        remark_,
        create_by,
        create_time,
        update_by,
        update_time,
        version_,
        site_id, template_path, cms_catalog_id, content_model_id, content_id, status_, content_model_template_id, url_, author_, editor_, source_, thumbnail_, title_, flag_search, sort_no, flag_top, views_, flag_external
    </sql>

    <resultMap id="VoResultMap" type="com.deyatech.station.vo.TemplateVo">
        <result column="st_id_" property="id" />
        <result column="st_enable_" property="enable" />
        <result column="st_remark_" property="remark" />
        <result column="st_create_by" property="createBy" />
        <result column="st_create_time" property="createTime" />
        <result column="st_update_by" property="updateBy" />
        <result column="st_update_time" property="updateTime" />
        <result column="st_version_" property="version" />
        <result column="st_site_id" property="siteId" />
        <result column="st_template_path" property="templatePath" />
        <result column="st_cms_catalog_id" property="cmsCatalogId" />
        <result column="st_content_model_id" property="contentModelId" />
        <result column="st_content_id" property="contentId" />
        <result column="st_status_" property="status" />
        <result column="st_content_model_template_id" property="contentModelTemplateId" />
        <result column="st_url_" property="url" />
        <result column="st_author_" property="author" />
        <result column="st_editor_" property="editor" />
        <result column="st_source_" property="source" />
        <result column="st_thumbnail_" property="thumbnail" />
        <result column="st_title_" property="title" />
        <result column="st_flag_search" property="flagSearch" />
        <result column="st_sort_no" property="sortNo" />
        <result column="st_flag_top" property="flagTop" />
        <result column="st_views_" property="views" />
        <result column="st_flag_external" property="flagExternal" />
        <result column="sm_name_" property="contentModelName" />
        <association property="metadataCollectionVo" resultMap="MetadataCollectionVoResultMap">
        </association>
    </resultMap>

    <resultMap id="MetadataCollectionVoResultMap" type="com.deyatech.admin.vo.MetadataCollectionVo">
        <result column="amc_id_" property="id" />
        <result column="amc_enable_" property="enable" />
        <result column="amc_remark_" property="remark" />
        <result column="amc_create_by" property="createBy" />
        <result column="amc_create_time" property="createTime" />
        <result column="amc_update_by" property="updateBy" />
        <result column="amc_update_time" property="updateTime" />
        <result column="amc_version_" property="version" />
        <result column="amc_name_" property="name" />
        <result column="amc_en_name" property="enName" />
        <result column="amc_md_prefix" property="mdPrefix" />
        <result column="amc_mdc_prefix" property="mdcPrefix" />
        <result column="amc_source_" property="source" />
        <result column="amc_tenant_flag" property="tenantFlag" />
        <result column="amc_mdc_version" property="mdcVersion" />
        <result column="amc_main_version" property="mainVersion" />
        <result column="amc_parent_id" property="parentId" />
        <collection property="metadataList" ofType="com.deyatech.admin.vo.MetadataCollectionMetadataVo">
            <result column="amcm_id_" property="id" />
            <result column="amcm_control_type" property="controlType" />
            <result column="amcm_check_model" property="checkModel" />
            <result column="amcm_data_source" property="dataSource" />
            <result column="amcm_dictionary_id" property="dictionaryId" />
            <result column="amcm_table_head" property="tableHead" />
            <result column="amcm_advanced_query" property="advancedQuery" />
            <result column="amcm_use_full_index" property="useFullIndex" />
            <result column="amcm_use_index" property="useIndex" />
            <result column="amcm_sort_no" property="sortNo" />
            <result column="amcm_metadata_collection_id" property="metadataCollectionId" />
            <result column="amcm_metadata_id" property="metadataId" />
            <result column="amcm_relation_id" property="relationId" />
            <result column="amcm_mdc_version" property="mdcVersion" />
            <result column="amcm_field_name" property="fieldName" />
            <association property="metadata" resultMap="MetadataVoResultMap">
            </association>
        </collection>
    </resultMap>

    <resultMap id="MetadataVoResultMap" type="com.deyatech.admin.vo.MetadataVo">
        <result column="am_id_" property="id" />
        <result column="am_enable_" property="enable" />
        <result column="am_remark_" property="remark" />
        <result column="am_create_by" property="createBy" />
        <result column="am_create_time" property="createTime" />
        <result column="am_update_by" property="updateBy" />
        <result column="am_update_time" property="updateTime" />
        <result column="am_version_" property="version" />
        <result column="am_name_" property="name" />
        <result column="am_brief_name" property="briefName" />
        <result column="am_en_name" property="enName" />
        <result column="am_type_" property="type" />
        <result column="am_data_type" property="dataType" />
        <result column="am_control_type" property="controlType" />
        <result column="am_data_length" property="dataLength" />
        <result column="am_check_model" property="checkModel" />
        <result column="am_data_source" property="dataSource" />
        <result column="am_dictionary_id" property="dictionaryId" />
        <result column="am_definition_" property="definition" />
        <result column="am_field_" property="field" />
        <result column="am_required_" property="required" />
        <result column="am_mandatory_" property="mandatory" />
        <result column="am_multi_flag" property="multiFlag" />
        <result column="am_annotation_count" property="annotationCount" />
        <result column="am_category_id" property="categoryId" />
        <result column="am_relation_id" property="relationId" />
    </resultMap>

    <sql id="Vo_Column_List">
        st.id_ as st_id_,
        st.enable_ as st_enable_,
        st.remark_ as st_remark_,
        st.create_by as st_create_by,
        st.create_time as st_create_time,
        st.update_by as st_update_by,
        st.update_time as st_update_time,
        st.version_ as st_version_,
        st.site_id as st_site_id,
        st.template_path as st_template_path,
        st.cms_catalog_id as st_cms_catalog_id,
        st.content_model_id as st_content_model_id,
        st.content_id as st_content_id,
        st.status_ as st_status_,
        st.content_model_template_id as st_content_model_template_id,
        st.url_ as st_url_,
        st.author_ as st_author_,
        st.editor_ as st_editor_,
        st.source_ as st_source_,
        st.thumbnail_ as st_thumbnail_,
        st.title_ as st_title_,
        st.flag_search as st_flag_search,
        st.sort_no as st_sort_no,
        st.flag_top as st_flag_top,
        st.views_ as st_views_,
        st.flag_external as st_flag_external,
        sm.name_ as sm_name_,
        amc.id_ as amc_id_,
        amc.enable_ as amc_enable_,
        amc.remark_ as amc_remark_,
        amc.create_by as amc_create_by,
        amc.create_time as amc_create_time,
        amc.update_by as amc_update_by,
        amc.update_time as amc_update_time,
        amc.version_ as amc_version_,
        amc.name_ as amc_name_,
        amc.en_name as amc_en_name,
        amc.md_prefix as amc_md_prefix,
        amc.mdc_prefix as amc_mdc_prefix,
        amc.source_ as amc_source_,
        amc.tenant_flag as amc_tenant_flag,
        amc.mdc_version as amc_mdc_version,
        amc.main_version as amc_main_version,
        amc.parent_id as amc_parent_id,
        amcm.id_ as amcm_id_,
        amcm.control_type as amcm_control_type,
        amcm.check_model as amcm_check_model,
        amcm.data_source as amcm_data_source,
        amcm.dictionary_id as amcm_dictionary_id,
        amcm.table_head as amcm_table_head,
        amcm.advanced_query as amcm_advanced_query,
        amcm.use_full_index as amcm_use_full_index,
        amcm.use_index as amcm_use_index,
        amcm.sort_no as amcm_sort_no,
        amcm.metadata_collection_id as amcm_metadata_collection_id,
        amcm.metadata_id as amcm_metadata_id,
        amcm.relation_id as amcm_relation_id,
        amcm.mdc_version as amcm_mdc_version,
        concat(amc.md_prefix, am.brief_name) as amcm_field_name,
        am.id_ as am_id_,
        am.enable_ as am_enable_,
        am.remark_ as am_remark_,
        am.create_by as am_create_by,
        am.create_time as am_create_time,
        am.update_by as am_update_by,
        am.update_time as am_update_time,
        am.version_ as am_version_,
        am.name_ as am_name_,
        am.brief_name as am_brief_name,
        am.en_name as am_en_name,
        am.type_ as am_type_,
        am.data_type as am_data_type,
        am.control_type as am_control_type,
        am.data_length as am_data_length,
        am.check_model as am_check_model,
        am.data_source as am_data_source,
        am.dictionary_id as am_dictionary_id,
        am.definition_ as am_definition_,
        am.field_ as am_field_,
        am.required_ as am_required_,
        am.mandatory_ as am_mandatory_,
        am.multi_flag as am_multi_flag,
        am.annotation_count as am_annotation_count,
        am.category_id as am_category_id,
        am.relation_id as am_relation_id
    </sql>

    <select id="pageByTemplate" parameterType="com.deyatech.station.entity.Template"
            resultMap="VoResultMap">
        select
            <include refid="Vo_Column_List"></include>
        from station_template st
        left join station_model sm on st.content_model_id = sm.id_
        left join admin_metadata_collection amc on sm.meta_data_collection_id = amc.id_
        left join admin_metadata_collection_metadata amcm on amc.id_ = amcm.metadata_collection_id
        left join admin_metadata am on amcm.metadata_id = am.id_
        where st.enable_ = 1
        <if test="template.title != null">
            and (st.title_ like concat('%', #{template.title}, '%') or st.author_ like concat('%', #{template.title}, '%'))
        </if>
        <if test="template.siteId != null">
            and st.site_id = #{template.siteId}
        </if>
        <if test="template.cmsCatalogId != null">
            and st.cms_catalog_id = #{template.cmsCatalogId}
        </if>
        order by st.update_time desc
    </select>

</mapper>
