<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyatech.monitor.mapper.SiteManagerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deyatech.monitor.entity.SiteManager">
        <result column="id_" property="id" />
        <result column="manager_id" property="managerId" />
        <result column="site_id" property="siteId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_,
        manager_id, site_id
    </sql>


    <delete id="deleteSiteManagerByManagerId" parameterType="java.util.List">
      delete from monitor_site_manager where manager_id in
        <foreach collection="managerIds" index="index" item="id" separator="," close=")" open="(">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteSiteManagerBySiteId" parameterType="java.util.List">
      delete from monitor_site_manager where site_id in
        <foreach collection="siteIds" index="index" item="id" separator="," close=")" open="(">
            #{id}
        </foreach>
    </delete>
</mapper>
